body{
    background-color: black;
}
h1{
    font-family: 'Libre Baskerville', serif;
}
.text{
    text-align: center;
    color: white;
    text-transform: uppercase;
}
.par{
    text-align: center;
    color: white;
}
.img{
    border: 5px solid yellow;
    width: 100%;
}
#main{
    width: 50%;
    margin-left: 25%;
    margin-top: 4.5%;
}